   body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
  }
  
  .cart {
    margin: 30px auto;
    max-width: 80vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cart-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cart h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333333;
  }
  
  .cart p {
    font-size: 18px;
    color: #666666;
  }
  
  .cart-in {
    margin-top: 20px;
  }
  
  .clear-cart-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .clear-cart-button:hover {
    background-color: #d32f2f;
  }

  .cart-total {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    text-align: left;
  }
  
  .cart-total h3 {
    font-size: 24px;
    color: #333333;
    margin: 0;
  }
  
  
  @media (max-width: 768px) {
    .cart-item {
      font-size: 14px;
    }
  
    .cart-item h4 {
      font-size: 16px;
    }
  
    .cart-item p {
      font-size: 14px;
    }
  }
  